@font-face {
    font-family: MavenPro;
    src: url(../fonts/MavenPro.ttf);
}

* {
    box-sizing: border-box;
    font-family: MavenPro;
}

html, body {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
html, body { flex-direction: row; }

#corpo {
    flex: 1;
    order: 1;
}